.Form{
    border: 2px solid gray;
    border-radius: 8px;
    box-shadow: 2px 2px 8px gray;
    /* width: 20vw !important; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px !important;
    margin-bottom: 30px !important;
} 
.input{
    /* width: 10vw !important; */
    /* margin-left: 3%; */
}